@import "tailwindcss";

body {
  background-color: #0b0f19;
  color: #e2e8f0;
  font-family: 'Inter', sans-serif;
  overflow: hidden;
}

.bg-gradient-radial {
  background-image: radial-gradient(circle at center, var(--tw-gradient-stops));
}

.glass-panel {
  background: rgba(17, 24, 39, 0.7);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border: 1px solid rgba(255, 255, 255, 0.05);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}

.no-cursor {
  cursor: none;
}